.test {
    position: absolute;
    z-index: 2;
    right: -48.5px;
    top: 0px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    
}

.test2 {
    @extend .test;
    right: 33px;
    top: 17px;
    &:hover::before {
        position: relative;
    right: -5px;
    top: -3px;
    font-size: 29px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    background-clip: text; 
    color: transparent; 
    animation: fillHeart 350ms forwards ease-in-out; 
}
 }
    
@keyframes fillHeart {
    0% {
        clip-path: inset(100% 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0); 
    }
}
